.profile-container {
  padding-top: 100px;
}

#profile-hero {
    width: 100%;
    min-height: 1000px;
    background-image: url("/media/underwaterswimopaque.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-y: auto;
    position: relative;
  }
  
  @media (max-height: 500px) {
    #profile-hero {
      height: 150vh;
    }
  }

  #profile-hero h2 {
    color: #020924;
  }

  #profile-hero .profile-bag,
  #profile-hero .profile-inner,
  #profile-hero .profile-item,
  #profile-hero .profile-item::before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
  
  .profile-form {
    --bs-table-bg: transparent !important; 
    background-color: rgb(255, 255, 255, 0.7);
    color: rgba(2, 9, 36, 1);
    border-radius: 0.5%;
  }
  
  .profile-form p {
    color: rgba(2, 9, 36, 1);
  }

  #profile-button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 32px;
    border-radius: 50px;
    border-width: 0;
    transition: 0.5s;
    margin: 10px;
    color: #020924;
    background: #85cfeb;
  }
  
  #profile-button:hover {
    background: #020924;
    color: #85cfeb;
  }

#profile-update-form .form-control {
    color: #020924;
    border-color: #020924;
    height: 45px;
}

#profile-update-form input::placeholder {
    color: #aab7c4;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #020924;
}

#id_default_country option:first-child {
    color: #aab7c4;
}

/*--------------------------------------------------------------
# Guardian Profile
--------------------------------------------------------------*/

.btn-guardian {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 32px;
  border-radius: 50px;
  border-width: 0;
  transition: 0.5s;
  margin: 10px;
  color: #020924;
  background: #85cfeb;
}

.btn-guardian:hover {
  background: #020924;
  color: #85cfeb;
}

.profile-delete-btn {
  color: #020924;
  padding-left: 30px;
}

.profile-delete-btn:hover {
  color: #d00000;
}
/*--------------------------------------------------------------
# Child Profile
--------------------------------------------------------------*/


.accordion-button {
  color: #ffffff;
  background-color: rgba(2, 9, 36, 0.7);
}

.accordion-button:not(.collapsed) {
  color: #ffffff;
  background-color: rgba(2, 9, 36, 0.8);
}

.accordion-button:not(.collapsed)::after {
  color: white;
}

.btn-child {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 32px;
  border-radius: 50px;
  border-width: 0;
  transition: 0.5s;
  margin: 10px;
  color: #020924;
  background: #85cfeb;
}

.profile-update-btn {
  color: #85cfeb;
  font-size: 18px;
}

.profile-update-btn:hover {
  color: #85cfeb;
  font-size: 20px;
}

.btn-child:hover {
  background: #020924;
  color: #85cfeb;
}

.custom-child {
  background-color: rgba(2, 9, 36, 0.6);
}

.card-title {
  color: #020924;
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
}

.textarea {
  height: 100px;
}

/* -------------------------------------------------------------
Sections Header
--------------------------------------------------------------*/
.section-header h3 {
  font-size: 32px;
  color: #020924;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  position: relative;
  padding-bottom: 15px;
}

.section-header h3::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-header h3::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #85cfeb;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-header p {
  text-align: center;
  padding-bottom: 30px;
  color: #333;
}