{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/media/favicon.png">

    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
        <!-- Main Bootstrap Css-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous" type="text/css">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <!-- Fontawesome Icons -->
        <script src="https://kit.fontawesome.com/128d236a07.js" crossorigin="anonymous"></script>
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Splash Swim School {% block extra_title %}{% endblock %}</title>
  </head>
  <body>
    <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid nav-background">
        <a class="navbar-brand logo" href="{% url 'home' %}">Splash</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}#contact">Contact</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-person-swimming fa-lg"></i> Levels
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'level1_courses' %}">Level 1</a></li>
                <li><a class="dropdown-item" href="{% url 'level2_courses' %}">Level 2</a></li>
                <li><a class="dropdown-item" href="{% url 'level3_courses' %}">Level 3</a></li>
                <li><a class="dropdown-item" href="{% url 'level4_courses' %}">Level 4</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-user"></i> Account
              </a>
              <ul class="dropdown-menu" aria-labelledby="user-options">
                {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                        <a href="" class="dropdown-item">Product Management</a>
                    {% endif %}
                    <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                    <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                {% else %}
                    <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                    <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                {% endif %}
              </ul>
            </li>
            <li class="nav-item total">
              <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-white{% endif %} nav-link" href="{% url 'view_bag' %}">
              <div>
                <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                  <p class="my-0 mx-0">
                      {% if grand_total %}
                          £{{ grand_total|floatformat:2 }}
                      {% else %}
                          £0.00
                      {% endif %}
                      </p>
                  </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
   
    {% if messages %}
        <div class="message-container">
          {% for message in messages %}
                {% with message.level as level %}
                    {% if level == 40 %}
                        {% include 'includes/toasts/toast_error.html' %}
                    {% elif level == 30 %}
                        {% include 'includes/toasts/toast_warning.html' %}
                    {% elif level == 25 %}
                        {% include 'includes/toasts/toast_success.html' %}
                    {% else %}
                        {% include 'includes/toasts/toast_info.html' %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block contact %}
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="section-bg">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h3>Contact Us</h3>
          <p>If you're eager to get started or have any questions, don't hesitate to reach out. We're here to assist you and welcome your child into the Splash Swim School family. Contact us today and let's make a splash together!</p>
        </div>
        <div class="row contact-info">
          <div class="col-md-4">
            <div class="contact-address">
              <i class="fa-solid fa-location-dot"></i>
              <h3>Address</h3>
              <address>Beignon Close, Cardiff CF24 5HF</address>
            </div>
          </div>
          <div class="col-md-4">
            <div class="contact-phone">
              <i class="fa-solid fa-phone"></i>
              <h3>Phone Number</h3>
              <p><a href="tel:+155895548855">02920498308</a></p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="contact-email">
              <i class="fa-solid fa-envelope"></i>
              <h3>Email</h3>
              <p><a href="mailto:info@example.com">info@splashcentralcardiff.com</a></p>
            </div>
          </div>
        </div>
        <div class="form">
        </div>
      </div>
    </section><!-- End Contact Section -->

    {% endblock %}

    {% block footer %}
    <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 footer-info">
            <h3>Splash</h3>
            <p>Empowering young swimmers with confidence, skills, and a love for the water. Join Splash Swim School for a safe and enjoyable swimming journey.</p>
          </div>
          <div class="col-lg-3 col-md-6 footer-links">
          </div>
          <div class="col-lg-3 col-md-6 footer-newsletter">
          </div>
          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              Beignon Close<br>
              Cardiff <br>
              CF24 5HF<br>
              <strong>Phone:</strong> 02920498308<br>
              <strong>Email:</strong> info@splashcentralcardiff.com<br>
            </p>
            <div class="social-links">
              <a href="#" class="twitter"><i class="fa-brands fa-twitter"></i></a>
              <a href="#" class="facebook"><i class="fa-brands fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fa-brands fa-instagram"></i></a>
              <a href="#" class="linkedin"><i class="fa-brands fa-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Splash</strong>. All Rights Reserved
      </div>
    </div>
  </footer><!-- End Footer -->
    {% endblock %}

    {% block postloadjs %}
    <!-- Main Bootstrap JS File -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <!-- Custom JavaScript Files -->
    <script src="{% static 'js/custom.js' %}"></script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

  </body>
</html>